html{
  text-align: center;
  font-family: Helvetica;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  color: inherit;
}
a:hover{
  color: #dadadd;
}

.top,
.middle{
  background-image: url("../../resources/images/background_flatiron.png");
}

.top h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.top li,
h6 a{
  font-size: 18px;
  color: white;
}

.about{
  background-color: white;
}

h3{
  font-size: 32px;
  font-weight: bold;
}

h4{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.middle{
  font-size: 23px;
  font-weight: bold;
  color: white;
}

h6{
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
